
button {
  position: relative;
  outline: none;
  text-decoration: none;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 15rem;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

p{
  padding-left: 2rem;
}
.h1{
  text-decoration-style: wavy;
  padding-left: 2rem;
}


body{
  background-color: antiquewhite;

}

#video{
  width: 640px;
  height: 480px ;

}
#canvas{
  width: 640px;
  height: 480px ;
}
 img{
  padding-left: 2rem;
 }

 footer{
  text-decoration: none;
  background-color: #ccac93;
  padding-left: 2rem;
  height: 2rem;
  width: 100%;
  padding-top: 1rem;
  margin-top: 2rem;
  text-align: center;
 }